html {
  font-family: 'Heebo', sans-serif;
  font-size: 17px;
  line-height: 1.19em;
  padding: 5px;
}

form {
  border: 4px solid #3b3b3b;
}

body {
  line-height: 60px;
}

.container {
  padding: 4.5px;
  background-color: #0e1111;
}

h1 {
  font-weight: bold;
  font-family: 'Architects Daughter', cursive;
  font-size: 40px;
  padding: 28px;
  line-height: 48px;
  padding-bottom: 16px;
  color: white;
}

p {
  padding: 13px;
  line-height: 17px;
  font-size: 18px;
  margin-left: 14px;
  color: white;
}

input {
  display: block;
  margin-left: 20px;
  height: 23px;
  width: 85%;
}

label[for=fname] {
  margin-left: 20px;
  font-size: 19px;
}

label[for=lname] {
  margin-left: 20px;
  font-size: 19px;
}

label[for=email] {
  margin-left: 20px;
  font-size: 19px;
}

input[type="checkbox"] {
  display: inline;
  width: 100%;
}

p[id="text"] {
  margin-left: 55px;
  color: #EE4B2B;
}

input[type="submit"] {
  height: 35px;
  width: 150px;
  font-size: 16px;
  margin-bottom: 40px;
  background-color: #049caa;
}


/* Mobile Version */

@media screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
  body {
    line-height: 70px;
  }
  h1 {
    color: black;
  }
  p {
    color: black;
  }
  .container {
    padding: 4.8px;
    background-color: #FC8EAC;
  }
  form {
    border: 4px solid #ffd9d9;
    padding-top: 4px;
  }
}

input[type="checkbox"] {
  display: inline;
  width: 3%;
}


/* Desktop Version */

@media screen and (min-width: 998px) {
  html {
    font-size: 20px;
  }
  body {
    line-height: 80px;
  }
  h1 {
    color: black;
  }
  p {
    color: black;
  }
  .container {
    padding: 5px;
    background-color: #C4CACE;
  }
  form {
    border: 4px solid #f4f4f4;
    padding-top: 5px;
  }
  input[type="checkbox"] {
    display: inline;
    width: 2%;
  }
}