html 
{
  
}

body 
{
 
}

label 
{


#content {
  text-align: center;
}

h1 
{
 
}

p 
{

}

ol 
{

}

input 
{

}

input[type="checkbox"]  {
  display: inline;
  line-height: 100px;
}

label[for=email]
{
  
}

label[for=]
{
   
}

 
input[type="submit"] 
{
 
   
  }